<ul *ngIf="cityList.length>0; else loading">
  <li *ngFor="let city of cityList">
    {{ city.city_name }} - {{ city.prov_name }}
  </li>
</ul>



<ng-template #loading>No cities found here</ng-template>
